
body {
    --background-body: #01161E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

div {
    border-radius: 25px;
    padding: 10px;
    
}

.projectBox {
    background-color: var(--background-body);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #228CDB;
    border-radius: 25px;
}
.projectBox > a > img {
    width: 0px;
    height: 0px;
    transition: 0.8s;
}
.projectBox:hover > a > img {
    width: 300px;
    height: 300px;
    transition: 0.8s;
}

.projectBox > a > img:hover {
    border: 3px solid #228CDB;
    border-radius: 25px;
}

.showcase {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
h1{
    font-weight: 700;
}
h1,h2 {
    color: #228CDB;
}

button {
    background-color: #228CDB;
}

a {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

:root {
    line-height: 150%;
    text-align: center;
    --code: #228CDB;
    --links: #228CDB;
}

img {
    padding: 20px;
}

/* Add a black background color to the top navigation */
.topnav-centered {
    background-color: #2c2084;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav-centered a {
    color: #228CDB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav-centered a:hover {
    color: white;
}

/* Add a color to the active/current link */
/*.topnav a.active {
    background-color: #04AA6D;
    color: white;
}*/