body {
    --background-body: #01161E;
}

div {
    border-radius: 25px;
    padding: 10px;
}

a {
    font-size: 20px;
    text-align: center;
}

* {
    line-height: 150%;
    text-align: center;
    --code: #228CDB;
    --links: #228CDB;
}

img {
    padding: 20px;
}